
  </body>

    <!-- contact us -->

  <footer  id="contact-us">
    <hr />
  <br>
  <br>


    <a href="/about"  ><i>About Us</i></a> |
      <a href="/contact" ><i>Contact Us</i></a> |
                  <a href="/privacy" ><i>Privacy Policy</i></a>

  <br>
  <br>
    <a href="https://www.linkedin.com/in/ananth-s-7b37b41b9/"> <i class="social-icon fab fa-linkedin"></i></a>
      <a href="https://github.com/narrowananth"> <i class="social-icon fab fa-github"></i></a>
    <a href="https://www.instagram.com/karadi_25/"> <i class="social-icon fab fa-instagram"></i></a>

    <p><i><b>Designed by ANANTH S</b></i></p>

  </footer>


</html>
