<div class="title">Delivery Location in Chennai : </div>
<div class="entity-related">
  <select class="form-control" id="delivery_location" name="delivery_location" event="price">
    <option value="-1" selected>Select Delivery Location</option>
    <option value="101-0">Adambakkam</option>
    <option value="111-0">Adyar</option>
    <option value="102-0">Alandur</option>
    <option value="149-0">Alwarpet</option>
    <option value="124-0">Alwarthirunagar</option>
    <option value="184-0">Anna Nagar</option>
    <option value="183-0">Anna Nagar East</option>
    <option value="185-0">Anna Nagar West</option>
    <option value="151-0">Arumbakkam</option>
    <option value="126-0">Ashok Nagar</option>
    <option value="127-0">Besant Nagar</option>
    <option value="128-0">Choolaimedu</option>
    <option value="103-0">Ekkaduthangal</option>
    <option value="104-0">Guindy</option>
    <option value="105-0">Guindy Ind. Estate</option>
    <option value="114-0">Jafferkhanpet</option>
    <option value="129-0">K K Nagar</option>
    <option value="130-0">K K Nagar West</option>
    <option value="131-0">Kandanchavadi</option>
    <option value="132-0">Keelkattalai</option>
    <option value="133-0">Kodambakkam</option>
    <option value="156-0">Kottivakkam</option>
    <option value="115-0">Kotturpuram</option>
    <option value="157-0">Kovilambakkam</option>
    <option value="158-0">Koyambedu</option>
    <option value="106-0">Little Mount</option>
    <option value="116-0">Madipakkam</option>
    <option value="176-0">Manapakkam</option>
    <option value="134-0">Mandaveli</option>
    <option value="117-0">Meenambakkam</option>
    <option value="159-0">MMDA Colony</option>
    <option value="174-0">Mugalivakkam</option>
    <option value="137-0">Mylapore</option>
    <option value="107-0">Nandambakkam</option>
    <option value="118-0">Nandanam</option>
    <option value="119-0">Nanganallur</option>
    <option value="208-0">Nanmangalam</option>
    <option value="209-0">Nerkundram</option>
    <option value="161-0">Nesapakkam</option>
    <option value="112-0">Palavanthangal</option>
    <option value="164-0">Pallikkaranai</option>
    <option value="139-0">Perungudi</option>
    <option value="175-0">Porur</option>
    <option value="120-0">Puzhuthivakkam</option>
    <option value="165-0">R A Puram</option>
    <option value="181-0">Ramapuram</option>
    <option value="207-0">S.Kolathur</option>
    <option value="108-0">Saidapet</option>
    <option value="140-0">Saligramam</option>
    <option value="109-0">St.Thomas Mount</option>
    <option value="121-0">T.Nagar</option>
    <option value="122-0">Taramani</option>
    <option value="141-0">Teynampet</option>
    <option value="190-0">Thirumangalam</option>
    <option value="142-0">Thiruvanmiyur</option>
    <option value="143-0">Thoraipakkam</option>
    <option value="123-0">Ullagaram</option>
    <option value="145-0">Vadapalani</option>
    <option value="146-0">Valasarawakkam</option>
    <option value="110-0">Velachery</option>
    <option value="147-0">Virugambakkam</option>
    <option value="148-0">West Mambalam</option>
  </select>
</div>
<br>
<i><b>If you choose Location Others then delivery
    <br>date & time need our confirmation.</b></i>
<br>
<br>
<h5>Payment Mode :</h5>
<br>

<div>
  <div>
    <label><input name="payment_mode" id="payment_mode" type="radio" value="CDC"> Debit Cards / Credit cards</label>
  </div>
  <div>
    <label><input name="payment_mode" id="payment_mode" type="radio" value="NBK"> Netbanking</label>
  </div>
  <div>
    <label><input name="payment_mode" id="payment_mode" type="radio" value="COD" checked> Cash on Delivery </label>
  </div>
  <div>
    <label><input name="payment_mode" id="payment_mode" type="radio" value="USD"> International Payments (USD)</label>
  </div>
</div>
