
<%- include ("partials/header2"); -%>
<section id="about">
  <div class="about1" style="padding:2%12%">
    <i style="font-size:1.5rem; text-transform: uppercase;">About us</i>
    <br>
    <p>Cake World pioneered the concept of delivering Gifts and Cake online, manufacture and deliver the products in our own facility enabling us to have a complete control over the raw material procurement to Final Customer Delivery.</p>
<p>This is a unique concept as we procure directly from the manufacturers on the Raw Materials enabling us to maintain superior quality and consistency over the excellence</p>
<p>Cake World - The Online Destination for delivery of Fresh Cakes and Flowers to your loved ones. Our Network is equipped to deliver across 63 locations in Chennai through our own Delivery Team enabled with excellent operations team backed with our strong Technology experience.</p>
<p>Cake World website is designed in a unique way placing customer experience and hassle free ordering to choose within our wider product range offering.</p>
<p>Cake World ensure all our cake are baked fresh at our own state of the art manufacturing unit equipped with the latest machineries for baking them at the nest quality. Our Production unit is at SIDCO Industrial Estate, Ekkatuthangal where our production team start at 8.00 AM for enabling the delivery starting at 10 AM. Our Delivery team packs them with utmost care with free goodies like candles, paper plate and spoons for making your celebration a feast.</p>

  <br><i style="font-size:1.5rem; text-transform: uppercase;">Vision</i>
<p>Cake World is envisioned to be the market leader in the Premium Gift Products of all variants with constant innovation and enhancement over the customer experience.</p>

<br>
<i style="font-size:1.5rem; text-transform: uppercase;">Mission</i>
<p>We Work focusing on ensuring the smile of every recipient of the Gift through continuous innovation of premium products and services by using world class technology and processes.</p>
  </div>
</section>

<%- include("partials/footer"); -%>
