<%- include ("partials/header2"); -%>
<section id="about">
  <div class="about1" style="padding:2%12%">
    <i style="font-size:1.5rem; text-transform: uppercase;">Contac Us</i>
    <br>
    <br>


<p>xxxxxxxxxxxxxxx,</p>
<p>xxxxxxxxxxxxxxxx</p>
<br>
<br>
<br><i style="font-size:1rem; text-transform: uppercase;"><b>Call Timings : 9 AM to 8 PM (IST)</b></i>

<br>
<br>
<br><i style="font-size:1rem; text-transform: uppercase;"><b>Delivery Timings : 10 AM to 11 PM (IST)</b></i>
<br>
<br>
<br><i style="font-size:1rem; text-transform: uppercase;"><b>Delivery Slots:</b></i>
<br>
<br>
<p>Standard Delivery Timings</p>
<p>9 AM - 12 PM</p>
<p>12 PM - 3 PM</p>
<p>3 PM - 6 PM</p>
<p>6 PM - 8 PM</p>
<p>8 PM - 10 PM</p>



  </div>
</section>

<%- include("partials/footer"); -%>
