<%- include ("partials/header"); -%>



<section id="sub-body" style="padding:2% 0%">
  <div class="card-group container ">
    <div class="card border border-white">
      <a href="#"><img src="http://demo.ovathemes.com/fable/bakery/wp-content/uploads/2016/02/h1-1.jpg" class="card-img-top gif" alt="...">
        <h3 class="centered centered-txt">
          <i><b>Preparation</b></i>
        </h3>
      </a>

    </div>
    <div class="card border border-white">
      <a href="#"> <img src="http://demo.ovathemes.com/fable/bakery/wp-content/uploads/2016/02/h2.jpg" class="card-img-top gif" alt="...">
        <h3 class="centered centered-txt">
          <i><b>Coffee</b></i>
        </h3>
      </a>

    </div>
    <div class="card border border-white">
      <a href="#"> <img src="http://demo.ovathemes.com/fable/bakery/wp-content/uploads/2016/02/h4.jpg" class="card-img-top gif" alt="...">
        <h3 class="centered centered-txt">
          <i><b>pouring coffee</b></i>
        </h3>
      </a>

    </div>
  </div>
</section>


<!-- pricing -->

<section id="pricing" style="padding:1% 0% ;">
  <div class="container">

    <!-- card -->
    <div class="card mb-3 border border-white" style=" max-width: 1300px; background-color: #eff8ff;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="http://demo.ovathemes.com/fable/bakery/wp-content/uploads/2016/02/a1.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="text-align:center; font-family:italic; font-size:2rem">Products and Pricing</h5>

            <i class="card-text">All products listed on the website, their descriptions, and their prices are subject to change from time to time.

              Purchase of a product on the website is subject to availability of stock. <a href="/product">SEE MORE...</a></i>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<section id="part3" style="padding:1% 3% ;">
  <div class="container">


    <a href="#"><img src="http://demo.ovathemes.com/fable/bakery/wp-content/uploads/2016/03/blog1.jpg" class="cs-img" width="300" alt="..."> </a>

    <!-- <i>
          "Baking makes me focus. On weighing the sugar. On sieving the flour. I find it calming, rewarding because, in fairness, it is sort of magic - you start off with all disparate the stuff like butter and eggs, and what you end up with is so totally different."
        </i> -->

  </div>
</section>


<section id="pricing" style="padding:2% 0%">
  <div class="container">

    <!-- card -->
    <div class="card mb-3 border border-white" style=" max-width: 1300px; background-color: #eff8ff;">
      <div class="row no-gutters">

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="text-align:center; font-family:italic; font-size:2rem">Privacy Policy</h5>

            <i class="card-text">Cake World pioneered the concept of delivering Cake online, manufacture and deliver the products in our own facility enabling us to have a complete control over the raw material procurement to Final Customer
              Delivery.. <a href="/privacy">READ MORE...</a></i>

          </div>
        </div>
        <div class="col-md-4">
          <img src="http://demo.ovathemes.com/fable/bakery/wp-content/uploads/2016/02/a4.jpg" class="card-img" alt="...">
        </div>
      </div>
    </div>

  </div>
</section>

<section id="part3" style="padding:0% 3% ;">
  <div class="container">


    <a href="#"><img src="https://images5.alphacoders.com/404/thumb-1920-404896.jpg" class="cs-img"  width="100" alt="...">
      <!-- <i>      Gallery</i> -->
    </a>

  </div>
</section>

<section id="part4" style="padding:3% 25%">
  <h4 class="card-title" style="text-align:center; font-family:italic; font-size:2rem">Tasty Cakes</h4>
  <br>

  <div class="card-group">
    <div class="card  border border-white" style="padding-right:3%">
      <a href="#"> <img src="https://www.cakeworld.in/images/web/171.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" style="text-align:center; font-family:italic; font-size:1.5rem">Black Forest</h5>
        <p class="card-text"><small>Black Forest cake consists of several layers of chocolate sponge cake sandwiched with whipped cream and cherries.</small></p>

      </div>
      <div class="card-foot">
          <a href="/prd1" class="btn btn-outline-primary">BUY</a>
      </div>
    </div>
    <div class="card  border border-white" style="padding-right:3%">
      <a href="#"> <img src="https://www.cakeworld.in/images/web/134.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" style="text-align:center; font-family:italic; font-size:1.5rem">Butterscotch Cake</h5>
        <p class="card-text"><small>Butterscotch Cake is a moist, from-scratch brown sugar cake topped with butterscotch buttercream made with melted butterscotch chips!</small></p>

      </div>
      <div class="card-foot">
          <a href="/prd3" class="btn btn-outline-primary">BUY</a>
      </div>
    </div>
    <div class="card  border border-white" style="padding-right:3%">
      <a href="#"> <img src="https://www.cakeworld.in/images/web/113.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" style="text-align:center; font-family:italic; font-size:1.5rem">Strawberry Cake</h5>
        <p class="card-text"><small> It is moist with layers of fresh strawberries, and whipped cream cheese frosting.</small></p>

      </div>
      <div class="card-foot">
          <a href="/prd13" class="btn btn-outline-primary">BUY</a>
      </div>
    </div>
  </div>

  <br>
  <br>
  <a href="/product"> <b><i>
        <h5 style="text-align:center">SEE MORE..</h5>
      </i></b> </a>
</section>



<%- include("partials/footer"); -%>
