<%- include ("partials/header2"); -%>



<!-- pricing -->

<section id="pricing">
  <div class="row">

    <!-- card -->


    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">
        <div class="card-body">
          <img id="p1" src="https://www.cakeworld.in/images/web/171.jpg"  width="70%" alt="">
          <p class="card-foot" >Vintage Black Forest Cake</p>
          <b>RS. 650</b>

          <br><br>
            <a href="/prd1" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/101.jpg" width="70%" alt="">
          <p class="card-foot">Perfect Pineapple Cake</p>
          <b>RS. 650</b>
          <br><br>
          <a href="/prd2" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3  col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/134.jpg" width="70%" alt="">
          <p class="card-foot">Impressive Butterscotch Cake</p>
          <b>RS. 850</b>
          <br><br>
          <a href="/prd3" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/102.jpg" width="70%" alt="">
          <p class="card-foot">Addicting Choco Truffle Cake</p>
          <b>RS. 2799</b>
          <br><br> <a href="/prd4" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">

    <!-- card -->

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">
        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/pic-103.jpg" width="70%" alt="">
          <p class="card-foot">Crunchy Pineapple Cake</p>
          <b>RS. 650 </b>
          <br><br>
          <a href="/prd5" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/104.jpg" width="70%" alt="">
          <p class="card-foot">Sensual Pineapple Cake</p>
          <b>RS. 650</b>
          <br><br>
          <a href="/prd6" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3  col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/105.jpg" width="70%" alt="">
          <p class="card-foot">Satisfying Choco Mocha Cake</p>
          <b>RS. 700</b>
          <br><br>
          <a href="/prd7" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/107.jpg" width="70%" alt="">
          <p class="card-foot">Cookie Oreo Cake</p>
          <b>RS. 800 </b>
          <br><br> <a href="/prd8" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">

    <!-- card -->

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">
        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/108.jpg" width="70%" alt="">
          <p class="card-foot">Smooth Choco Truffle Cake</p>
          <b>RS. 750</b>
          <br><br> <a href="/prd9" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/109.jpg" width="70%" alt="">
          <p class="card-foot">Eccentric Fruit Cake</p>
          <b>RS. 1050</b>
          <br><br> <a href="/prd10" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3  col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/110.jpg" width="70%" alt="">
          <p class="card-foot">Amazing Strawberry Cake</p>
          <b>RS. 650</b>
          <br><br> <a href="/prd11" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/112.jpg" width="70%" alt="">
          <p class="card-foot">Loveable Choco Truffle Cake</p>
          <b>RS. 750</b>
          <br><br> <a href="/prd12" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">

    <!-- card -->

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">
        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/113.jpg" width="70%" alt="">
          <p class="card-foot">Rich Strawberry Cake</p>
          <b>RS. 650 </b>
          <br><br> <a href="/prd13" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/114.jpg" width="70%" alt="">
          <p class="card-foot">Fresh Vanilla Cake</p>
          <b>RS. 2800</b>
          <br><br> <a href="/prd14" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3  col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/115.jpg" width="70%" alt="">
          <p class="card-foot">Duple Number Shape Cake</p>
          <b>RS. 2200</b>
          <br><br> <a href="/prd15" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/117.jpg" width="70%" alt="">
          <p class="card-foot">Luxury Vanilla Cake</p>
          <b>RS. 650</b>
          <br><br> <a href="/prd16" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">

    <!-- card -->

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">
        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/118.jpg" width="70%" alt="">
          <p class="card-foot">Celebrative Tier Cake</p>
          <b>RS. 4200 </b>
          <br><br> <a href="/prd17" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/119.jpg" width="70%" alt="">
          <p class="card-foot">Photo Cake</p>
          <b>RS. 800</b>
          <br><br> <a href="/prd18" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3  col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/120.jpg" width="70%" alt="">
          <p class="card-foot">Delightful Choco Truffle Cake</p>
          <b>RS. 1800 </b>
          <br><br> <a href="/prd19" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card border border-white text-center">

        <div class="card-body">
          <img src="https://www.cakeworld.in/images/web/121.jpg" width="70%" alt="">
          <p class="card-foot">Authentic Choco Truffle Cake</p>
          <b>RS. 750</b>
          <br><br> <a href="/prd20" class="btn btn-outline-primary">BUY</a>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
